.cartpage {
  display: flex;

  &__product-section {
    width: 78%;
    padding: 20px;
    justify-content: space-around;

    .cartpage__card {
      width: 88%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid black;
      border-radius: 8px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      h4 {
        flex: 1;
      }
    }
  }

  &__total-section {
    width: 25%;
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 80vh;

    span {
      padding-bottom: 20px;
    }

    .title {
      font-size: 30px;
    }

    button {
      padding: 6px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
