.home {
  display: flex;
  position: relative;
  width: 100%;

  &__filter-section {
    width: 20%;
  }

  &__products-section {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1000px) {
  .home {
    flex-direction: column;

    &__filter-section {
      width: 100%;
    }

    &__products-section {
      width: 100%;
    }
  }
}
