.header {
  height: 80px;
  background: black;
  color: aliceblue;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer;
      margin: 0 20px;
      .link {
        color: aliceblue;
        text-decoration: none;
      }
    }

    input {
      width: 500px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
    }

    img {
      width: 32px;
      cursor: pointer;
    }
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #00e691;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;

  &__inner {
    padding-bottom: 0;
  }
  p {
    margin-left: 5px;
    font-size: 16px;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  // left: -200%;
  right: 0%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;

  .gotocart_btn {
    padding: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    // display: inline-block;
    text-decoration: none;
    background: blue;
    color: white;
    border: none;
    width: calc(100% - 20px);
  }
}

/* Links inside the dropdown */
.dropdown-content .cart_item {
  color: black;
  padding: 12px 16px;
  display: block;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: default;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .cart_item_details {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
  }

  .cart_remove_btn {
    cursor: pointer;
  }
}

/* Change color of dropdown links on hover */
.dropdown-content .cart_item:hover {
  background-color: #ddd;
  border-radius: 8px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media only screen and (max-width: 1000px) {
  .header {
    .header__search-input {
      display: none;
    }
  }
}
