.filters {
  background-color: #000;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 80vh;
  position: sticky;
  top: 0;

  span {
    padding-bottom: 20px;
  }

  .title {
    font-size: 30px;
  }

  button {
    padding: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1000px) {
  .filters {
    height: 50vh;
  }
}
