.product {
  margin: 10px;
  transition: transform 0.3s;

  &__card {
    width: 300px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 8px;

    img {
      width: 300px;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }

    &-body {
      padding: 10px;

      h3 {
        margin: 0;
        margin-bottom: 10px;
      }

      .product__card-middle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .product__card-remove-btn {
        padding: 6px 8px;
        background: rgb(255, 37, 37);
        color: white;
        border: none;
        cursor: pointer;
      }

      .product__card-add-btn {
        padding: 6px 8px;
        background: rgb(75, 255, 75);
        color: black;
        border: none;
        cursor: pointer;
      }
      .product__card-outstock-btn {
        padding: 6px 8px;
        background: rgb(124, 255, 124);
        color: rgb(139, 139, 139);
        border: none;
      }
    }
  }
}

.product:hover {
  transform: rotate(2deg);
}
